:root {
  --accent-color: #2196f3;
  --black-color: #212121;
  --grey-color: #757575;
  --white-color: #ffffff;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin: 0; /* 1 */
  padding: 0;
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
    font-weight: 400;
}

.link {
  text-decoration: none;
}

ul,
link {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img{
	max-width:100%;
	height:auto;
	display:block;
}

a{
	text-decoration:none;
}

/* COMPONENTS*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section{
    padding: 94px 0;
}

/* HEADER */
.header {
  cursor: pointer;
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 93px;
}

.menu-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.navigation-info {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-accent {
  color: #212121;
}

.logo-accent-footer {
  color: var(--white-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--grey-color);
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

.section-black {
  background-color: #2f303a;
  padding: 200px 0;
}

.section-black .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* /COMPONENTS */

/* INDEX MAIN*/

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  max-width: 696px;
  padding-bottom: 30px;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  cursor: pointer;
  border:none;
  border-radius: 4px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--black-color);
}

.hidden{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subsection-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 50px;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--black-color);
}

.staff-description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

/* PORTFOLIO-HERO */


.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--black-color);
  cursor: pointer;
  border:none;
  padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.pic-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: var(--black-color);
  margin-bottom:4px;
}

.pic-subtitle-describtion {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}


.feautures {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feautures-item {
  flex-basis: 270px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: 370px;
  width: 294px;
}

.work {
  padding-top: 0;
}

.section-about-us {
  background-color: #f5f4fa;
}

.about-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.about-block-link {
  background-color: #fff;
  flex-basis: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px
}

.about-block-inner{
  text-align:center;
  padding: 30px 0;
}

.filter {
  display: flex;
  justify-content: center;
  background-color: #fff;
  gap: 8px;
  margin-bottom: 50px;
}


.filter-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-block-item{
  flex-basis: 370px;
}

.portfolio-pics .container .filter-block-inner{
  padding: 20px 21px;
  border: 1px solid #eee;
  border-top:none;
}


.portfolio-pics{
  padding-bottom: 94px;
}

.filter-block-inner{
	padding: 20px 24px;
	border: 1px solid #EEEEEE;
	border-top:none;
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo{
	margin-bottom:20px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-email,
.footer-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
}
	
.footer-link:not(:last-child){
	margin-bottom:9px;
}